body{
    width: 100%;
    height: 100%;
    margin: 0;
}

.header{
    background-color: deepskyblue;
    width: 100%;
    height: 100px;
}

.sideBar{
    width: 100px;
    background-color: mediumslateblue;
    position: absolute;
    top: 100px;
    bottom: 0;
}

.content {
    overflow: auto;
    background-color: gray;
    position: absolute;
    top: 100px;
    left: 100px;
    right: 0;
    bottom: 0;
}

.small-div{
    margin: 15px auto;
    border: solid black;
    width: 50%;
    height: 10%;
}
