body{
    width: 100%;
    height: 100vh;
    margin: 0;
}

h1{
    font-family: Arial;
    color: white;
}

.mailImg {
    width: 80px;
    height: 80px;
}

.header{
    display: flex;
    background-color: deepskyblue;
    width: 100%;
    height: 100px;
}
.headerContent{
    display: flex;
}

.container{
    display: flex;
    height: 100%;
}

.sideBar{
    display: flex;
    flex-direction: column;
    background-color: black;
    flex: 1.5;
}


.sideBarContent{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-basis: 90px;
}

.inbox{
    display: flex;
    align-items: center;
    width: 95%;
    flex-basis: 30px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: orange;
}

.outgoing{
    display: flex;
    align-items: center;
    width: 95%;
    flex-basis: 30px;
    align-items: center;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: gray;
}

.outgoingText{
    color: white;
    font-family: Arial;
}

.inboxText{
    color: white;
    font-family: Arial;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    background-color: gray;
    flex: 5;
}

.mailItem{
    display: flex;
    margin: 15px;
    border-radius: 7px;
    width: 80%;
    height: 15%;
    background-color: white;
}
.mailItemHeader{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mailItemHeaderText{
    font-size: xx-large;
}
.mailItemFromHeader{
    top: 55px;
    left: 4px;
}

.mailItemFromText{
    top: 55px;
    left: 60px;
}

.vl{
    width: 1px;
    border-radius: 5px;
    left: 200px;
    background-color: gray;
}

.mailItemContent{
    display: flex;
    flex: 5;
    justify-content: stretch;
}

.mailItemImage{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex:5;
}

.warningIcon{
    align-self: flex-end;
    justify-self: flex-end;
    width: 15px;
    height: 15px;
}
