body{
    width: 100%;
    height: 100%;
    margin: 0;
}

h1{
    font-family: Arial;
    left: 130px;
    top: 10px;
    color: white;
    position: absolute;
}

.mailImg {
    width: 80px;
    height: 80px;
    left: 40px;
    top: 10px;
    position: absolute;
}

.header{
    background-color: deepskyblue;
    width: 100%;
    height: 100px;
}

.sideBar{
    width: 300px;
    background-color: black;
    position: absolute;
    top: 100px;
    bottom: 0;
}

.inbox{
    position: absolute;
    left: 10px;
    width: 285px;
    height: 30px;
    top: 30px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: orange;
}

.outgoing{
    position: absolute;
    left: 10px;
    width: 285px;
    height: 30px;
    top: 65px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: gray;
}

.outgoingText{
    color: white;
    font-family: Arial;
    position: absolute;
    top: 5px;
    left: 3px;
}

.inboxText{
    color: white;
    font-family: Arial;
    position: absolute;
    top: 5px;
    left: 3px;
}

.content {
    overflow: auto;
    background-color: gray;
    position: absolute;
    top: 100px;
    left: 300px;
    right: 0;
    bottom: 0;
}

.mailItem{
    position: relative;
    margin: 5px auto;
    border-radius: 7px;
    width: 60%;
    height: 15%;
    background-color: white;
}

.mailItemHeaderText{
    position: absolute;
    font-size: xx-large;
    top: 2px;
    left: 4px;
}
.mailItemFromHeader{
    position: absolute;
    top: 55px;
    left: 4px;
}

.mailItemFromText{
    position: absolute;
    top: 55px;
    left: 60px;
}

.vl{
    position: absolute;
    width: 1px;
    top: 4px;
    bottom: 4px;
    border-radius: 5px;
    left: 200px;
    background-color: gray;
}

.mailItemContentText {
    position: absolute;
    left: 215px;
}

.warningIcon{
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 15px;
    height: 15px;
}
